.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.button{
  background-color: #fef9c7;

  color:darken($color: #fce181, $amount: 30%);
  border: 2.5px solid darken($color: #fce181, $amount: 30%);
}
