html {
  body {
    h3.carousel-caption {
      @media(min-width: 300px){


        display: flex;
      }
    }
    .carousel-indicators {
      background-color: orange;
      color: black;

      max-width: auto;
      margin: 0 auto;
    }

    .carousel-item {
     

      min-height: 50vh;
      height: 50vh;
    }
    .carousel-item > img {
      width: 100%;
      min-height: 50vh;
      @media (min-width: 680px) {
        img {
          
        }
      }

    }
    .carousel-control-prev,
    .carousel-control-next {
      cursor: pointer;
    }
    .carousel-item,
    .carousel-item.active {
      align-items: center;
    }
  }
}
