html {
  body {
    h3 {
      display:flex;
      height: 20vh;
      @media(min-width: 300px){


      }
    }
    .carousel{
      height: 46vh;
      
      @media (min-width: 750px) {
        
        width: 42rem;

        
      }
    }

    .carousel-indicators {
      background-color: orange;
      color: black;
      margin: 0 auto;
      height: 3vh;
    }
    .carousel-control-prev{
      height: 50vh;
    }
    .carousel-control-next{
      height: 50vh;
    }
    .carousel-item {
     
      max-height: 70vh;
      height: 70vh;
      
    }
    .carousel-caption{
      height: 36vh;
      @media (min-width: 700px) {
        
        height: 40vh;


        
      }
    }
    .carousel-item > img {
      height: 25rem;
      width: 100%;
      @media (min-width: 750px) {
        
        width: 42rem;

        
      }

    }
    .carousel-control-prev,
    .carousel-control-next {
      cursor: pointer;
    }
    .carousel-item,
    .carousel-item.active {
      align-items: center;
    }
  }
}
