html {
  body {
    h3 {
      display:flex;
     
      color: #d3af3a;

      @media(min-width: 300px){


      }
    }
    .carousel{
      margin-top: 10rem;

      


      
      @media (min-width: 750px) {
        
      

        
      }
    }

    .carousel-indicators {
      background-color: darken($color: #fce181, $amount: 30%);
     /*  margin: 0 auto 8.5rem auto;
      height: 3vh; */
      margin: 0;
    }
    .carousel-control-prev{
      height: auto;
    }
    .carousel-control-next{
      height: auto;
    }
    .carousel-item {
     
      height: auto;

    }
    .carousel-caption{
      
    }
    .carousel-item > img {
     
     height: 50vh;
     width: 100%;
    
      
    position: static;
      @media (min-width: 300px) {
        
        
        
      }
      @media (min-width: 500px) {
        
       
        
      }

    }
    .carousel-control-prev,
    .carousel-control-next {
      cursor: pointer;
    }
    .carousel-item,
    .carousel-item.active {
      align-items: center;
    }
  }
}
