.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;;
  margin: 2rem;
  color: #7e685a;
  font-family: Ubuntu;
  text-align: justify;
}

p{
  font-size: 1.1rem;
  margin: 0 4rem;
 
@media(min-width: 300px){
  font-size: 1.2rem;
margin: 0 6rem;

}
@media(min-width: 500px){
  font-size: 1.3rem;
margin: 0 1rem;

}
@media(min-width: 1024px){
  font-size: 1.3rem;
  width: 50rem;

}


}