.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  flex: 1;

  margin: 1rem;
  color: #7e685a;
  font-family: Ubuntu;
  text-align: justify;
  z-index: 1;

  
h1{
   font-size: 2rem;
   margin-bottom: 2rem;
}



}